# Ignore Makefile
Makefile

# Ignore Compile file
*.o

# Ignore Directory redirecting
*.d

# executable binary file
main

# Andere Settings für CLION
# Weird CLion file
C++CSES.iml

# XML files
*.xml

# Idea config
.idea

# makefiles
CMakeLists.txt

# makebuild
cmake-build-debug/